#ifndef SECRET_HPP
#define SECRET_HPP

// Please enter your WiFi SSID and password in the following constants.
const char *SECRET_SSID = "";
const char *SECRET_PASS = "";

// Please enter your server IP and port number in the following constants.
const char *SERVER_IP = "0.0.0.0";
const int SERVER_PORT = 3000;

#endif /* SECRET_HPP */