#ifndef SECRET_HPP
#define SECRET_HPP

// Please enter your WiFi SSID and password in the following constants.
constexpr char *SECRET_SSID = "";
constexpr char *SECRET_PASS = "";

// Please enter your server IP and port number in the following constants.
constexpr char *SERVER_IP = "0.0.0.0";
constexpr int SERVER_PORT = 3000;

#endif /* SECRET_HPP */